* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*>>>>>>>>>>>>>>>>>>>> smallest size: iPhone 5 <<<<<<<<<<<<<<<<<<<<*/

/******************* Home Page *******************/

/*** Banner ***/

.logo {
  width: 75px;
  height: 75px;
}

img {
  width: 100%;
  height: 200px;
}

.top-banner {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(97, 109, 122); */
  background-color: rgb(160, 81, 7);
  /* background-color: rgba(175, 90, 11, 0.904); */
  height: 75px;
  width: 100%;
}

.App-header {
  display: none;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
}

h1 {
  font-size: 28px;
  color: rgb(97, 109, 122);
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

nav a {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  opacity: 1;
}

/*** Content ***/

h2,
h3 {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(97, 109, 122);
}

.tech-img {
  height: 60px;
  width: 60px;
}

.start-btn,
.register-btn {
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

/******************* Login Page & Form *******************/

.login-logo {
  position: absolute;
  top: 0;
  left: 0;
}

/* .button-label {
  color: black;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
} */

.login-home-btn {
  display: flex;
  color: black;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
}

.fa-home {
  margin-left: 5px;
  color: black;
}

#login-header {
  position: absolute;
  color: black;
  top: 15%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#login-form {
  position: absolute;
  top: 30%;
  left: 20%;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#login-btn {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.login-container {
  overflow: hidden;
  height: 568px;
}

.sliding-background {
  background: url("../../img/1.png") repeat-x;
  height: 100%;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

/******************* Contact Page & Form *******************/

.contact-container {
  position: fixed;
  height: 100%;
  /* background: url("./img/1.png"); */
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact-home-btn {
  display: flex;
  color: black;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
}

.contact-title {
  color: rgba(0, 0, 0, 0.801);
  margin-top: 50px;
}

.contact-submit,
.contact-reset {
  width: 25%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.error {
  color: red;
}

label#name {
  display: flex;
  margin-top: 5px;
}

label#email,
label#subject,
label#message {
  display: flex;
}

textarea#message {
  width: 100%;
}

/******************* Registration Page & Form *******************/

.registration-container {
  position: fixed;
  height: 100%;
  width: 100%;
  /* why do I need width 100% here if the contact container doesnt have it? */
  /* background: url("./img/1.png"); */
}

#registration-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.registration-home-btn {
  display: flex;
  color: black;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
}

.registration-title {
  color: rgba(0, 0, 0, 0.801);
  margin-top: 50px;
}

.registration-submit,
.registration-reset {
  width: 25%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.error {
  color: red;
}

label#first_name {
  display: flex;
  margin-top: 5px;
}

label#last_name,
label#user_name,
label#password,
label#repeatPassword {
  display: flex;
}

/*>>>>>>>>>>>>>>>>>>>> small size: iPhone6/7/8 <<<<<<<<<<<<<<<<<<<<*/
@media screen and (min-width: 375px) {
  img {
    width: 100%;
    height: 250px;
  }

  .tech-img {
    height: 64px;
    width: 64px;
  }

  nav a {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }

  .start-btn,
  .register-btn {
    margin-top: 15px;
    margin-bottom: 50px;
  }
}

/*>>>>>>>>>>>>>>>>>>>> small+ size: iPhone6/7/8 Plus <<<<<<<<<<<<<<<<<<<<*/
@media screen and (min-width: 414px) {
  img {
    width: 100%;
    height: 275px;
  }

  .tech-img {
    height: 75px;
    width: 75px;
  }

  nav a {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }

  .start-btn,
  .register-btn {
    margin-top: 25px;
    margin-bottom: 60px;
  }
}

/*>>>>>>>>>>>>>>>>>>>> medium size: tablet/iPad <<<<<<<<<<<<<<<<<<<<*/
@media screen and (min-width: 480px) {
}

/*>>>>>>>>>>>>>>>>>>>> largest size: pc screen <<<<<<<<<<<<<<<<<<<<*/
@media screen and (min-width: 800px) {
}
